<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles/styles.css">

		<title>ABSCH - Inicio</title>
	</head>

	<body>
		
		<div id="main-container">
			<nav id="navbar" class="hidden">
				<a href="/">
					<img src="/static/images/logo.png" id="app-logo">
				</a>

				<a href="/">
					<img src="/static/images/home.png" class="navbar-icon">
					<span>Inicio</span>
				</a>

				<a href="/tramites/">
					<img src="/static/images/procedures.png" class="navbar-icon">
					<span>Tramites</span>
				</a>

				<a href="/noticias/">
					<img src="/static/images/news.png" class="navbar-icon">
					<span>Noticias</span>
				</a>

				<a href="/contacto/">
					<img src="/static/images/contact.png" class="navbar-icon">
					<span>Contacto</span>
				</a>
			</nav>

			<main id="main">
				<header id="page-header">
					<div id="hamburger-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>
				
					<h1>Pagina de inicio</h1>
				</header>
				
				<section id="gallery">
					<div class="gallery-image" id="image-1"></div>
					<div class="gallery-image" id="image-2"></div>
					<div class="gallery-image" id="image-3"></div>
				</section>

				<section id="page-info">
					<article class="info">
						<h3>¿Quienes somos?</h3>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit facilis dicta, dolore aut eligendi consequatur repudiandae assumenda voluptatibus id tenetur ea veniam ducimus molestias, cum, non consectetur reprehenderit cumque? Molestiae.</p>
					</article>

					<article class="info">
						<h3>¿Por qué CBTIS 206?</h3>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit facilis dicta, dolore aut eligendi consequatur repudiandae assumenda voluptatibus id tenetur ea veniam ducimus molestias, cum, non consectetur reprehenderit cumque? Molestiae.</p>
					</article>
				</section>
			</main>
		</div>

		<script type="text/javascript" src="/static/scripts/script.js"></script>
	</body>
</html>